Repository keymanapp/help.keyman.com, pull requests merged in 2019-02, with the labels that each got.

#1 [help.keyman.com] Lexical model schema updates
  developer/12.0/reference/file-types/metadata.php
  developer/cloud/keyboard_info/1.0/index.php
  developer/cloud/model_info/1.0/index.php
  developer/cloud/model_info/index.php
Labels: enhancement, help.keyman.com

#3 [help.keyman.com] Add model_info to index
  developer/cloud/index.php
Labels: help.keyman.com

#4 [help.keyman.com] Refresh Developer 11.0 (and 12.0) documentation
  cdn/dev/img/developer/110/ui/frmProject_Distribution.png
  developer/11.0/context/editor.php
  developer/11.0/context/keyboard-editor.php
  developer/11.0/context/kmcomp.php
  developer/11.0/context/package-editor.php
  developer/11.0/context/project.php
  developer/12.0/context/editor.php
  developer/12.0/context/keyboard-editor.php
  developer/12.0/context/kmcomp.php
  developer/12.0/context/package-editor.php
  developer/12.0/context/project.php
Labels: enhancement, help.keyman.com

#5 Seed Keyman 11 for Linux docs
  _includes/includes/phone-menu.php
  _includes/includes/top-menu.php
  cdn/dev/img/icon-tux.png
  cdn/dev/img/linux/110/add-input-source-khmer-angkor.png
  cdn/dev/img/linux/110/add-input-source-khmer.png
  cdn/dev/img/linux/110/add-input-source.png
  cdn/dev/img/linux/110/download-khmer-angkor.png
  cdn/dev/img/linux/110/km-config-khmer-angkor.png
  cdn/dev/img/linux/110/km-config.png
  cdn/dev/img/linux/110/onboard.png
  cdn/dev/img/linux/110/package-khmer-angkor-welcome.png
  cdn/dev/img/linux/110/region-and-language.png
  cdn/dev/img/linux/110/region-language-khmer-angkor.png
  cdn/dev/img/linux/110/search-khmer-angkor.png
  linux/web.config
  products/index.php
  products/linux/11.0/common.php
  products/linux/11.0/index.php
  products/linux/11.0/installing-keyboard.php
  products/linux/web.config
Labels: help.keyman.com

#6 Fix typo
  products/linux/11.0/installing-keyboard.php
Labels: help.keyman.com

#8 Update Keyman for Linux install instructions
  products/linux/11.0/common.php
Labels: bug, help.keyman.com
